<% if @employee.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= 'Errors:' %></h5>
    <ul>
      <% @employee.errors.messages.each  do |attr, msg| %>
        <li><%= msg.to_s.gsub(/\["|"\]/, '') %></li>
      <%end%>
    </ul>
  </div>
<% end %>

<div class="container col-xl-8 col-lg-12  col-md-12 col-xs-1">
  <%= form_for @employee do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control', placeholder: 'name' %><br>
    </div>
    <div class="form-group">
      <%= f.label :department %><br>
      <%= f.collection_select :department_id, Department.order(:name), :id, :name, {include_blank: true}, class: 'form-control' %><br>
    </div>
    <div class="form-group">
      <%= f.label :active %><br>
      <%= f.check_box :active %><br>
    </div>
    <div class="form-group">
      <%= f.submit 'Save', class:'btn btn-info'%>
    </div>

  <% end %>
  <p><%= link_to 'Back', employees_path, class:'btn btn-primary' %></p>
</div>